@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(../css/index.css);
@import url(../nav_footer_css/nav_principal.css);
@import url(../nav_footer_css/footer.css);
@import url(../responsive_css/envios.css);
:root {
    /*COLORES PRINCIPALES*/
    --color_logo: #1c3a6b;
    --blanco: #ffff;
    --negro: #0000;
    /*variantes COLORES logo*/
    --var1: #20509e;
    --var2: #3773d3;
    --var3: #14294b;
    --var4: #0f336d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

.vacio {
    height: 70px;
}


/* 
------Inicio de Banner------
*/

.containerPrincipal--env {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    background-image: url(../recursos/envio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.containerPrincipal--a {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    display: none;
}

.containerPrincipal--b {
    background-image: url(../recursos/envio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
/* 
------Inicio seccion de envios------
*/


/* 
        ------Inicio titulo------
        */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.container_envios {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 85%;
}

.title_envios h1 {
    text-align: center;
    width: 100%;
    color: var(--color_logo);
    font-size: 4vw;
}

.title_description h3 {
    font-size: 2vw;
    color: var(--color_logo);
}

.title_description p {
    color: #808080;
}

.title_description p a {
    color: #808080;
    transition: .3s;
}

.title_description p a:hover {
    color: var(--color_logo);
    font-weight: 700;
}


/* 
        ------Inicio galeria de zonas------
        */

.zone__galery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.coontainer_galery {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.galery__items {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.galery__items:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.galery__items:nth-child(2) {
    grid-column-start: span 2;
}

.galery__items:nth-child(3) {
    grid-column-start: span 2;
}

.galery__items:nth-child(4) {
    grid-column-start: span 2;
}

.galery__items:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.galery__items:nth-child(6) {
    grid-column-start: span 2;
}

.galery__items:nth-child(7) {
    grid-column-start: span 2;
}

.galery__items:nth-child(8) {
    grid-column-start: span 2;
}

.galery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.img__title {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 0;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    padding: 10px;
    font-size: 2vw;
}

.galery__items .text__hover {
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: .4s all;
}

.galery__items .text__hover h4 {
    color: #ffff;
    font-size: 2vw;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.galery__items .text__hover ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.galery__items .text__hover li {
    color: #ffff;
    font-size: 0vw;
    text-transform: capitalize;
    transition: .4s;
}

.galery__items:hover .text__hover {
    width: 100%;
}

.galery__items:hover img {
    transform: scale(1.2);
}

.galery__items:hover .text__hover ul li {
    font-size: 1.5vw;
}

.opciones__envio .galery__items {
    margin-top: 20px;
    width: 100%;
}

.opciones__envio .galery__items p {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}


/* 
        ------Inicio opciones de envio------
        */

.zone__options,
.zone__time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.opciones__envio,
.time__shipping {
    width: 85%;
}

.options__title {
    margin-bottom: 30px;
}

.options__title h2 {
    color: var(--color_logo);
    font-size: 2vw;
    width: 100%;
}

.options__title p {
    color: #808080;
    width: 100%;
}

.grid__company {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid__company .galery__items:nth-child(1) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.grid__company .galery__items:nth-child(2) {
    grid-column-start: span 1;
}

.grid__company .galery__items:nth-child(3) {
    grid-column-start: span 1;
}

.grid__company .galery__items:nth-child(4) {
    grid-column-start: span 3;
}

.grid__company .galery__items:nth-child(4) p {
    width: 100%;
    text-align: center;
}

.grid__company .galery__items:nth-child(3) .galery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* 
        ------Inicio tiempo de envio------
        */


/* 
        ------Inicio tiempo de envio------
        */