@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(../nav_footer_css/nav_principal.css);
@import url(../responsive_css/login.css);
@import url(../responsive_css/index.css);
@import url(../nav_footer_css/footer.css);

/*-----------------------------------*\
   * #INICION DE BANNER PRINCIPAL
  \*-----------------------------------*/

.containerPrincipal--l {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    background-image: url(../recursos/login.jpeg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.txt--l p {
    font-size: 2.4vh;
    letter-spacing: 1.6px;
}

.containerPrincipal--a {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    display: none;
}

.containerPrincipal--d {
    background-image: url(../recursos/login.jpeg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*-----------------------------------*\
   * #AREA formulario
  \*-----------------------------------*/

.login_form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: cente;
}

.login_form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login_form .container h3 {
    color: var(--colortitulovinotinto);
    font-size: 29px;
}

.login_form .container form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_form .container form .col-md-6 {
    margin-top: 40px;
}

.login_form .container form .col-md-5 {
    display: flex;
    align-items: center;
    width: 55%;
    margin-top: 30px;
}

.checkbox {
    width: 10%;
}

.col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px 0;
}

#colorboton {
    background: #1c3a6b !important;
    border: #1c3a6b;
}

.password_lost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password_lost a {
    display: inline-block;
    text-decoration: none;
    color: #1c3a6b;
}

.password_lost span a {
    display: inline-block;
    text-decoration: none;
    color: #1c3a6b;
    text-decoration: underline;
}

.form-login {
    display: flex;
    justify-content: center;
}