@import url(../css_header_footer/css/header.css);
@import url(../css_header_footer/css/footer.css);

/*-----------------------------------*\
 * #PROPIEDADES PERSONALIZADAS
\*-----------------------------------*/

:root {
    /*COLORES PRINCIPALES*/
    --vinotinto: #1c3a6b;
    --blanco: #ffff;
    --negro: #0000;
    /*COLORES*/
    --colorlogo: #1c3a6b;
    --colortitulos: #323232;
    --colorletras: #6c757d;
    --colortitulovinotinto: #1c3a6b;
}


/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

a,
img,
span,
input,
label,
button,
input,
button {
    background: none;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

a,
img,
span,
input,
label,
button,
input,
button {
    background: none;
    border: none;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--blanco);
}


/*-----------------------------------*\
   * #ELEMENTOS COMUNES
  \*-----------------------------------*/

* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    margin: 20px;
    margin: 30px 60px;
}

.boton_comun {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 13%;
    border-radius: 10px;
    transition: .4s;
}

HEAD .boton_comun--a {
    width: 100%;
}

.boton_comun {
    width: auto;
}

.boton_comun a {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: var(--vinotinto);
    text-transform: uppercase;
    transition: .4s;
    border-radius: 10px;
}

.boton_comun a:hover {
    background-color: var(--vinotinto);
    color: var(--blanco);
}

.boton_comun:hover {
    border: 1px solid var(--vinotinto)
}

hr {
    margin: 50px 0 50px 0;
}


/*-----------------------------------*\
   * #INICION DE BANNER PRINCIPAL
  \*-----------------------------------*/

  .containerMariscos {
    width: 100%;
    height: 32em;
    background-image: url(../recursos/bannerprincipal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
}


/*-----------------------------------*\
   * #AREA registro
  \*-----------------------------------*/

.login_registro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#boton_registro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_plus {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.login_plus a {
    display: inline-block;
    color: #1c3a6b;
    text-decoration: underline;
    margin-top: 20px;
}

#formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.col-md-6 {
    width: 100%;
}

.form-login--a {
    max-width: 350px;
}

.form-login--b {
    max-width: 600px;
}

.form-login--c {
    max-width: 800px;
}

#colorboton {
    background: #1c3a6b !important;
    border: #1c3a6b;
  }

/*-----------------------------------*\
   * #AREA FOOTER
  \*-----------------------------------*/


/* The above code is defining the CSS styles for a footer element. */

