@media (max-width: 900px) {
    .img_banner_bg {
        height: 20vh;
    }
    .container h2 {
        font-size: 22px;
    }
}

@media (max-width: 865px) {
    footer .container .footer {
        flex-direction: column-reverse;
        gap: 20px;
    }

    footer .container .footer .Copyright {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    footer .container .footer .terms_conditios {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}