@media (max-width: 865px) {
    footer .container .footer {
        flex-direction: column-reverse;
        gap: 20px;
    }

    footer .container .footer .Copyright {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    footer .container .footer .terms_conditios {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 778px) {
    #formulario {
        
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
    
      }
}

@media (max-width: 600px) {
    #boton_registro, .login_plus {
        justify-content: flex-start;
    }

}

@media (max-width: 420px) {
    .img_banner_bg .container h2 {
        text-align: center;
    }
}

