@media (max-width: 900px) {
    .conatinerRecupera {
       display: flex;
       justify-content: center;
        
    }

  
    
}

@media (max-width: 1800px) {
    #vacio {
        height: 7vh;
    }
}